:root {
	--ecru: #F4F1E8;
	--beige: #d0b28e;
    --brown: #69443C;
    --milk-chocolate: #8B5536;
    --caramel: #D1966A;
    --sauge: #A9BFB9;
    --dark-hover: rgba(0, 0, 0, .8);
    --header: rgba(0, 0, 0, 0.5)
}
@font-face {
    font-family: raleway-regular;
    letter-spacing: .25rem;
    src: url(../font/Raleway-Regular.ttf);
}
/* titles */
@font-face {
    font-family: belgiano-serif;
    src: url(../font/Belgiano-Serif-2.otf);
}
/* For icon */
@font-face {
    font-family: avant-garde;
    src: url(../font/ITCAvantGardeStd-XLt.otf);
}

body {
    background-color: var(--beige);

    margin: 0;
    font-family: raleway-regular;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-behavior: smooth;
}

button:hover {
    cursor: pointer;
    border: none;
    outline: none;
}
button {
    border: none;
    outline: none;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    margin: 1rem;
    font-family: belgiano-serif;
}

.section-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.page {
    padding: 2vh;
}

p {
    font-size: 1rem;
    margin: 1rem;
}
span {
    font-size: .75rem;
}

video {
    width: 100%;
}
.display-flex {
    display: flex;
}