
/* HEADER */
header {
    margin-left: 20%;
    margin-top: .5rem;
    display: flex;
    position: fixed;
    width: 80%;
}
.icon {
    overflow-x: hidden;
    flex-grow: 1;
}
.flex-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav {
    padding-bottom: .5rem;
}
nav > a, nav > a:visited {
    font-family: raleway-regular;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: color 200ms linear;
}
nav > a:focus, nav > a:hover {
    color: var(--brown);
    transition: color 200ms linear;
}

header button {
    background-color: transparent;
    border: 1px white solid;
    font-family: raleway-regular;
    padding: 0 3rem;
    margin: 1.2rem;
    margin-left: 0;
    transition: background-color 800ms linear;
}
header button:hover {
    background-color: white;
    transition: background-color 800ms linear;
}
#logo-divider {
    border: white solid 1px;
    display: block;
    width: 100px;
    animation: expand-logo-divider 4s ease 1s 1 normal forwards;
}
@keyframes expand-logo-divider {
    0% {
		width: 100px;
	}

	100% {
		width: 100%;
	}
}
.icon p {
    font-family: avant-garde;
    margin: 0;
    color: white;
    font-size: 2rem;
}


