
/* HEADER */
header {
    padding-left: 20%;
    padding-top: .5rem;
    z-index: 10;
    position: fixed;
    width: 78vw;
    padding-right: 2vh;

    background: linear-gradient(180deg, rgba(209, 151, 106, 0.3) 50%, rgba(0,0,0,0) 100%);
}
header .bar {
    display: flex;
}
.icon {
    overflow-x: hidden;
    flex-grow: 1;
}
.flex-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#nav-desktop {
    display: none;
}
#nav-mobile {
    display: flex;
    flex-direction: column;
}
#nav-mobile a {
    border-top: 1px solid white;
    padding-bottom: .5rem;
    margin-right: 5.5rem;
}
nav > a, nav > a:visited {
    font-family: raleway-regular;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: color 200ms linear;
}
nav > a:focus, nav > a:hover {
    color: var(--brown);
    transition: color 200ms linear;
}
#contact-me a:visited {
    color: var(--brown);
    text-decoration: none;
}
#contact-me a {
    display: none;
    text-decoration: none;
    font-family: raleway-regular;
    font-size: 1rem;
    color: var(--brown);
}

header #end-of-line {
    border: 1px white solid;
    color: white;
    margin: .6rem 1.2rem;
    margin-left: 0;
    background-color: transparent;
    transition: background-color 800ms linear;
}

header #end-of-line #contact-me {
    background-color: transparent;
}

header #end-of-line:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 800ms linear;
}
#logo-divider {
    border: white solid 1px;
    display: block;
    width: 100px;
    animation: expand-logo-divider 4s ease 1s 1 normal forwards;
}
@keyframes expand-logo-divider {
    0% {
		width: 100px;
	}

	100% {
		width: 100%;
	}
}
.icon p {
    font-family: avant-garde;
    margin: 0;
    color: white;
    font-size: 2rem;
}


/* ANIMATION OPEN */

#burger {
    padding: 1.2rem;
    cursor: pointer;
}
#nav-mobile {
    height: 0;
    overflow: hidden;
    transition: height 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
#nav-mobile.open {
    height: 132px;
    transition: height 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}