@media only screen and (min-width: 800px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    .top {
        width: auto;
        flex-grow: 1;
    }
    #burger {
        display: none;
    }
    #menu, #menu.open {
        height: auto;
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    ul {
        flex-direction: row;
    }
    li {
        border-left: 1px solid white;
        border-top: none
    }
    li:nth-child(1) {
        border-left: none
    }

    .section-flex {
        flex-direction: row;
        flex-wrap: wrap;
    }
}