@media only screen and (min-width: 800px) {
    /* MAIN */
    body {
        background-image: url(../images/background.jpg);
    }
    h1 {
        font-size: 5rem;
    }
    .section-container {
        flex-direction: row;
    }
    p {
        font-size: 1.5rem;
    }

    /* HEADER */
    header .bar{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    #burger {
        display: none;
    }
    #menu, #menu.open {
        height: auto;
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #nav-desktop {
        display: initial;
        flex-direction: row;
    }
    #nav-mobile {
        display: none;
    }
    nav a {
        border-top: none
    }

    .section-flex {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header #end-of-line {  
        margin: 1.2rem;
    }
    header #end-of-line button {
        padding: 1.2rem 3rem;
        display: initial;
    }

    /* PAGE d'accueil */
    #page-accueil .section-container {
        align-items: flex-end;
    }
    .travaillons .social {
        margin: 0 3rem;
    }
    .travaillons .social a {
        height: 2.5rem;
        margin: 0 1rem;
    }
    #big-image {
        margin-right: 6rem;
        margin-bottom: 3rem;
    }
}