@media only screen and (min-width: 800px) {
    /* MAIN */
    h1 {
        font-size: 5rem;
    }
    .section-container {
        flex-direction: row;
    }
    p {
        font-size: 1.5rem;
    }
    span {
        font-size: 1rem;
    }

    /* HEADER */
    header .bar{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    #burger {
        display: none;
    }
    #menu, #menu.open {
        height: auto;
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #nav-desktop {
        display: initial;
        flex-direction: row;
    }
    #nav-mobile {
        display: none;
    }
    nav a {
        border-top: none
    }

    .section-flex {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header #end-of-line {  
        margin: 1.2rem;
        margin-left: 0;
    }
    header #end-of-line #contact-me {
        padding: 1.2rem 3rem;
    }
    #contact-me a {
        display: initial;
    }

    /* PAGE d'accueil */
    #page-accueil {
        background-image: url(../images/background-laptop.png);
        background-position-x: -2rem;
    }
    #page-accueil .section-container {
        flex-direction: row;
        align-items: flex-end;
    }
    #home-text {
        margin: 2rem 14rem;
    }
    
    .travaillons .social {
        margin: 0 3rem;
    }
    .travaillons .social a {
        height: 2.5rem;
        margin: 0 1rem;
    }
    #big-image {
        margin-right: 6rem;
        margin-bottom: 3rem;
    }

    /* page-gallerie */

    #page-gallerie {
        max-height: 96vh;
    }
    #page-gallerie .section-container{
        align-items: normal;
    }
    #page-gallerie img {
        width: auto;
    }
    #page-gallerie .section {
        display: flex;
    }
    #gallerie-left {
        display: flex;
        align-items: flex-end;
    }
    #gallerie-middle {
        max-width: 30vw;
    }
    #gallerie-middle, #gallerie-right {
        margin-left: 2rem;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: inherit;
    }

    #page-gallerie #image-1 {
        width: auto;
    }
    #image-3 {
        margin: 20%;
        margin-right: 0;
    }

    #image-4 {
        margin: 10%;
        margin-right: 0;
        max-height: 50vh;
    }
    #image-5 {
        margin-right: 20%;
    }

    /* page-services */
    #services-head {
        flex-direction: row;
    }
    #page-services .section-container p {
        height: 3.7rem;
        align-content: end;
    }

    /* PAGE COLLECTION */
    .collection-container .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
    }
    #page-collection {
        padding: 2vh 20vh;
    }
    #page-collection figcaption {
        font-size: 1rem;
    }

    /* page-actuality */
    .page-contact-template .section-container {
        padding: 4em;
    }
    .page-contact-template h1 {
        font-size: 3rem;
    }

    #page-actuality #mobile {
        display: none;
    }
    #page-actuality #desktop {
        display: initial;
    }

    .page-contact-template p {
        font-size: 1rem;
    }

    #map img {
        max-width: 50vw;
    }
}